<div class="flex min-h-[72dvh] w-full items-center justify-center">
  <div class="grid h-auto w-full items-center justify-between md:w-[75vw] md:grid-cols-2">
    <div class="flex flex-col gap-2 p-6 text-center text-[#040d19] md:text-left">
      <span class="text-primary text-3xl font-bold md:text-6xl">About Us</span>
      <span class="mt-4">
        We work with banks and financial institutes, each with their own tier and business needs, to create excellent solutions in order to satisfy their
        corporate, SME, and retail needs.
      </span>
    </div>

    <img alt="hero" src="/assets/image/hero-widetech.png" class="polygon h-full w-auto object-cover object-left md:h-[538px] md:max-w-[40dvw]" />
  </div>
</div>
