<div class="flex min-h-[72dvh] w-full items-center justify-center">
  <div class="grid h-auto w-full items-center justify-between md:w-[75vw] md:grid-cols-2">
    <div class="flex flex-col gap-4 p-6 text-center text-[#040d19] md:text-left">
      <span class="text-xl md:text-3xl">Welcome to</span>
      <span class="text-primary text-3xl font-bold md:text-6xl">Wide Technologies</span>
      <span class="mt-2">The future is in your hands</span>
      <button mat-stroked-button class="mt-4 md:w-fit" (click)="onClickLearnMore()">Learn More</button>
    </div>

    <img alt="hero" src="/assets/image/hero.png" class="polygon h-full w-auto object-cover object-left md:h-[538px] md:max-w-[40dvw]" />
  </div>
</div>
